[Unit]
Description=Fetch Pacman Repo Info
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=pacman -Sy
Restart=no

[Install]
WantedBy=multi-user.target

