<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Applications">
		<item label="Terminal">
			<action name="Execute">
				<execute>terminology</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Edit Menu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Configure">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Logout">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
